.container {
	margin:auto;
	display:block;
	border:2px solid black;
	width:400px;
	height:400px;
}

.buttons{
	display: block;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
}

.box {
	
	background-color:white;
	width:25px;
	height:25px;
	margin:0px;
	float:left;
}

.hoverOn{
	background-color:black;
}
