
.container{
	display: inline-block;
	position:absolute;
    margin: auto;
    border:2px solid black;
    left:37%;
    right:37%;
    padding-left:8px;
}

.columns {
	


	display:block;

}

.rows{
	display: inline-block;
	width:15 px;
	height:15 px;
	padding:15px;
}


.colorOn {
	background-color:black;
}

.colorReset {
	background-color:white;
}

button {
	display:block;
	margin:auto;
	margin-bottom:10 px;

}